<form [formGroup]="formGroup" class="login-form">
    <h1>Sign In</h1>
    <mat-form-field>
        <input matInput type="text" placeholder="Username" formControlName="username" #username>
        <mat-error *ngIf="formGroup.get('username').hasError('required')">
            Please enter your <strong>username</strong>
        </mat-error>
    </mat-form-field>
    <mat-form-field>
        <input matInput type="password" placeholder="Password" formControlName="password" #password>
        <mat-error *ngIf="formGroup.get('password').hasError('required')">
            Please enter your <strong>password</strong>
        </mat-error>
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="login(username.value, password.value)">Login</button>
</form>