nav {
  background: #2ab3d2;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

    li {
      float: left;

      a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-weight: bold;
      }

      a:hover {
        background-color: #4bc4e3;
        cursor: pointer;
      }
    }
  }
}
