<nav class="navba">
    <div class="navbar-brand">
        <ul class="navbar-item">
            <li routerLink="/"><a>Home</a></li>
            <li><a>About me</a></li>
            <li *ngIf="!authService.isAuthenticated()" routerLink="/login"><a>Login</a></li>
            <span *ngIf="authService.isAuthenticated()">
                <li (click)="authService.logout()"><a>Logout</a></li>
                <li routerLink="/admin-panel"><a>Admin Panel</a></li>
            </span>
        </ul>
    </div>
</nav>