<form [formGroup]="formGroup" class="change-password-form">
    <mat-form-field class="form-group">
        <input matInput type="password" placeholder="Old password" formControlName="oldPassword" #oldPassword>
        <mat-error *ngIf="formGroup.get('oldPassword').hasError('required')">
            Please enter your <strong>old password</strong>
        </mat-error>
    </mat-form-field>
    <mat-form-field class="form-group">
        <input matInput type="password" placeholder="New password" formControlName="newPassword" #newPassword>
        <mat-error *ngIf="formGroup.get('newPassword').hasError('required')">
            Please enter your <strong>new password</strong>
        </mat-error>
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="change(oldPassword.value, newPassword.value)">Change</button>
</form>